@model TechnicalDetailViewModel

@{
    ViewData["Title"] = "ثبت جزئیات محصول  ";

}
<section class="content-header">
    <h1>
        اضافه کردن
        <small>جزئیات محصول</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
        <li class="active">اضافه کردن محصول </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                    </div>

                    <form asp-area="Admin" asp-controller="TechnicalDetail" asp-action="Create" method="post">
                        <div class="box-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ProductId" value="@ViewBag.ProductId" />
                            <div class="form-group">
                                <label class="col-md-2 control-label">نام محصول</label>
                                <input value="@ViewBag.ProductName" disabled class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Type" class="col-md-2 control-label"></label>
                                <input asp-for="Type" class="form-control" />
                                <span asp-validation-for="Type" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="Manufacturer" class="col-md-2 control-label"></label>
                                <input asp-for="Manufacturer" class="form-control" />
                                <span asp-validation-for="Manufacturer" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="ManufacturingCountry" class="col-md-2 control-label"></label>
                                <input asp-for="ManufacturingCountry" class="form-control" />
                                <span asp-validation-for="ManufacturingCountry" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="Model" class="col-md-2 control-label"></label>
                                <input asp-for="Model" class="form-control" />
                                <span asp-validation-for="Model" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="ProductionYear" class="col-md-2 control-label"></label>
                                <input asp-for="ProductionYear" class="form-control" />
                                <span asp-validation-for="ProductionYear" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="Warranty" class="col-md-2 control-label"></label>
                                <input asp-for="Warranty" class="form-control" />
                                <span asp-validation-for="Warranty" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <div class=" ">
                                    <input type="submit" value="ثبت اطلاعات" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>


    </div>


</section>




