@model ContactViewModel
@{
    ViewData["Title"] = "تماس با ما";
    ViewData["Breadcromb"] = "تماس با ما";
}

<partial name="_HeaderPartial">
    @{
        if (ViewBag.Message != null)
        {

            string message = ViewBag.Message.ToString();

            if (ViewBag.Status == true)
            {

                <div class="alarm_style2">
                    <div class="success_alarm box">
                        <div class="alarm_icon"><img src="~/assets/front/_images/icon/checked.png" alt=""></div>
                        <div class="alarm_text">@message</div>
                        <div class="close_icon"><i class="i-cancel"></i></div>
                    </div>
                </div>

            }
            else
            {
                <div class="alarm_style2">
                    <div class="success_alarm box">
                        <div class="alarm_icon"><img src="~/assets/front/_images/icon/checked.png" alt=""></div>
                        <div class="alarm_text">@message</div>
                        <div class="close_icon"><i class="i-cancel"></i></div>
                    </div>
                </div>
            }
        }
    }
    <div class='contact_part1'>
        <div class='top_part'>
            <div class='container'>
                <div class='inner clearfix'>
                    <div class='left_part'>
                        <div class='title_style7'>
                            <div class='title'>راه های ارتباطی</div>
                            <div class='sub_title'>
                                از طریق راه های ارتباطی زیر یا ارسال تیکت میتوانید با ما در ارتباط باشید.
                            </div>
                        </div><!--close .title_style7-->
                        <div class='info_style1'>
                            <ul class='step none_list_style clearfix'>
                                <li class='item'>
                                    <div class='icon'><i class='i-telephone'></i></div>
                                    <div class='content'>09358022968</div>
                                </li>
                                <li class='item'>
                                    <div class='icon'><i class='i-mail'></i></div>
                                    <div class='content'>miladhamedi7474@@gmail.com</div>
                                </li>
                            </ul><!--close .step-->
                        </div><!--close .info_style1-->
                    </div><!--close .left_part-->
                    <div class='right_part'>
                        <div class='form_style2'>
                            <form asp-controller="Home" asp-action="Contact" method="post">
                                <div asp-validation-summary="ModelOnly"></div>
                                <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
                                <ul class='step none_list_style'>
                                    <li class='item'>
                                        <div class='icon'><i class='i-user'></i></div>
                                        <input asp-for="NameFamily" type='text' placeholder='نام و نام خانوادگی' >
                                        <span class='focus_bg'></span>
                                        <span asp-validation-for="NameFamily" class="text-danger"></span>
                                    </li>
                                    <li class='item'>
                                        <div class='icon'><i class='i-mail-2'></i></div>
                                        <input asp-for="Email" type='text' placeholder='ایمیل' >
                                        <span class='focus_bg'></span>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </li>
                                    <li class='item textarea'>
                                        <div class='icon'><i class='i-chat'></i></div>
                                        <textarea asp-for="Text" placeholder='متن پیام شما...' ></textarea>
                                        <span class='focus_bg'></span>
                                        <span asp-validation-for="Text" class="text-danger"></span>
                                    </li>
                                    <li class='item submit'>
                                        <button type="submit">ارسال پیام</button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='bottom_part'>
                <div class='container'>
                    <div class='inner'>
                        <div class='icon'><div class='hand_range'><div class='hand'></div></div></div>
                       
                    </div>
                </div>
            </div>
    </div>
