@inject IProfileIndexService profileindexservice


<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
        <div class="info-box-content">
            <span class="info-box-text" style="text-align: center;padding: 10px;">تعداد نظرات </span>
            <span class="info-box-number" style="text-align: center;">@profileindexservice.GetAllComment().Count()<small>&nbsp;&nbsp;عدد</small></span>
        </div>

    </div>

</div>