@model ForgotPasswordViewModel
@{

    ViewData["Breadcromb"] = "فراموشی رمز عبور";
    ViewData["Title"] = "فراموشی رمز عبور";

}



<partial name="_HeaderPartial" />

<div class='register_part1'>

    <div class='container'>
        <div class='inner clearfix'>
            <div class='signin_part center-block'>
                <div class='part_inner'>
                    <div class='title_style7'>
                        <div class='title'> فراموشی رمز عبور </div>
                    </div>
                    <div class='form_style2'>
                        <form id='frm_register' asp-controller="Account" asp-action="ForgotPassword" method="post">
                            <div asp-validation-summary=" ModelOnly"></div>
                            @{
                                if (ViewBag.Message != null)
                                {
                                    string message = ViewBag.Message.ToString();

                                    if (message == "Ok")
                                    {

                                        <div class="alarm_style2">
                                            <div class="success_alarm box">
                                                <div class="alarm_icon"><img src="~/assets/front/_images/icon/checked.png" alt=""></div>
                                                <div class="alarm_text"> لینک ریست پسورد ب ایمبل شما ارسال شد </div>
                                                <div class="close_icon"><i class="i-cancel"></i></div>
                                            </div>
                                        </div>
                                    }
                                    if (message == "Failure")
                                    {

                                        <div class="alarm_style2">
                                            <div class="success_alarm box">
                                                <div class="alarm_icon"><img src="~/assets/front/_images/icon/checked.png" alt=""></div>
                                                <div class="alarm_text"> ایمیل تایید نشده است </div>
                                                <div class="close_icon"><i class="i-cancel"></i></div>
                                            </div>
                                        </div>

                                    }

                                } 

                            }
                            <ul class='step none_list_style clearfix'>

                                <li class='item'>
                                    <div class='icon'><i class='i-mail'></i></div>
                                    <input type='email' placeholder='ایمیل را وارد کنید' asp-for="Email" name='Email'>
                                    <span class='focus_bg'></span>
                                    <span class='important'><i class='i-star'></i></span>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </li>
                                <li class='item submit'>
                                    <button type="submit" class="submit">ارسال</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}