@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ریست پسورد";
    ViewData["Breadcromb"] = "رمز خود را فراموش کرده اید";
}

<partial name="_HeaderPartial" />

<div class='register_part1'>
    <div class='container'>
        <div class='inner clearfix'>
            <div class='signin_part center-block'>
                <div class='part_inner'>
                    <div class='title_style7'>
                        <div class='title'> ریست پسورد </div>
                    </div>
                    @{
                        if (ViewBag.Message != null)
                        {
                            var message = ViewBag.Message.ToString();

                            if (message == "Failure")
                            {
                                <div class="alarm_style2">
                                    <div class="success_alarm box">
                                        <div class="alarm_icon"><img src="~/assets/front/_images/icon/checked.png" alt=""></div>
                                        <div class="alarm_text"> کاربر یافت  نشد </div>
                                        <div class="close_icon"><i class="i-cancel"></i></div>
                                    </div>
                                </div>

                            }


                        }

                    }
                    <div class='form_style2'>
                        <form id='frm_register' asp-controller="Account" asp-action="ResetPassword" method="post">
                            <div asp-validation-summary="All"></div>
                            <input value="@ViewBag.code" asp-for="Code" type="hidden" />
                            <input value="@ViewBag.userid" asp-for="UserId" type="hidden" />

                            <ul class='step none_list_style clearfix'>

                                <li class='item'>
                                    <div class='icon'><i class='i-key'></i></div>
                                    <input type='password' placeholder='پسورد را وارد کنید' asp-for="Password" name='Password'>
                                    <span class='focus_bg'></span>
                                    <span class='important'><i class='i-star'></i></span>
                                    <span asp-validation-for="Password"></span>
                                </li>

                                <li class='item'>
                                    <div class='icon'><i class='i-key'></i></div>
                                    <input type='password' placeholder='تایید پسورد را وارد کنید' asp-for="ConfirmPassword" name='ConfirmPassword'>
                                    <span class='focus_bg'></span>
                                    <span class='important'><i class='i-star'></i></span>
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </li>

                                <li class='item submit'>
                                    <button type="submit" class="submit">ریست پسورد</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}