@model LoginViewModel
@{
    Layout = null;
}
<div class='login_part fright'>
    <div class='part_inner'>
        <div class='title_style7'>
            <div class='title'>ورود به پنل مدیریت</div>
        </div>
        <div class='form_style2'>
            <form id='frm_login' method="POST" asp-controller="Account" asp-action="LoginAdmin">
                <div asp-validation-summary="All"></div>
                <input type="hidden" name="_token" value="dsIvqII2PJDqUl2f2CzMupXHJ2TfV59ozigxe4jM">
                @{
                    if (TempData["Messagefail"] != null)
                    {
                        var message = TempData["Messagefail"].ToString();

                        if (message == "Failure")
                        {
                            <div class="alarm_style2">
                                <div class="success_alarm box">
                                    <div class="alarm_icon"><img src="~/assets/front/_images/icon/checked.png" alt=""></div>
                                    <div class="alarm_text">ورود نا موفق بودلطفا ثبت نام کنید</div>
                                    <div class="close_icon"><i class="i-cancel"></i></div>
                                </div>
                            </div>

                        }

                    }

                }


                <ul class='step none_list_style clearfix'>
                    <li class='item'>
                        <div class='icon'><i class='i-mail'></i></div>
                        <input asp-for="Email" name="Email" type='text' value="" placeholder='ایمیل یا نام کاربری'>
                        <span class='focus_bg'></span>
                        <span class='important'><i class='i-star'></i></span>
                        <span asp-validation-for="Email"></span>
                    </li>
                    <li class='item'>
                        <div class='icon'><i class='i-key'></i></div>
                        <input asp-for="Password" name="Password" type='password' id="password" placeholder='کلمه عبور'>
                        <span class='focus_bg'></span>
                        <span class='important'><i class='i-star'></i></span>
                        <span asp-validation-for="Password"></span>
                        <div class="singin_part" style="text-align:left">
                            <div class="text">
                                <a asp-action="ForgotPassword" asp-controller="Account" title="" class="link">رمزخود را فراموش کرده اید؟</a>
                            </div>
                        </div>
                    </li>
                    <li style="margin-right:26px;">
                        <span class='focus_bg'></span>
                        <input type="checkbox" asp-for="RememberMe" name="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)

                    </li>
                    <li class='item submit'>
                        <button type="submit" class="submit">ورود</button>
                    </li>
                </ul>
            </form>
        </div>
    </div><!-- close .part_inner -->
</div><!-- close .login_part -->


@section Scripts {
    <partial name="_ValidationScriptsPartial">
}
