@model ErrorViewModel
@{
    ViewData["Title"] = "خطا";
}
<partial name="_HeaderPartial" />
<div style="position:absolute;top:-200%;"><a href="https://codebazan.ir/">&#1705;&#1583;&#1576;&#1575;&#1586;&#1575;&#1606;</a></div>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>صفحه مورد نظر پیدا نشد !</title>
    <style>
        a {
            color: #FFF;
            text-decoration: none;
        }

            a:hover, a:active {
                color: #A4A4A4;
            }
    </style>
</head>
<body>
    <div align="center" style="margin:130px 150px">
        <div style="border: 1px solid #DFDFDF;text-align:center;width:670px;margin-top:10%;padding:5px;font-family:Tahoma;font-size:10pt" dir="rtl">
            <div style="background:url(https://dl.codebazan.ir/uploads/1513529174.png);width:670px;height:452px;">
                <div style="font-weight:bold;padding-top:320px;color:white"><a asp-controller="Home" asp-action="Index">برگشت به سایت</a></div>
            </div>
        </div>
    </div>
</body>
</html>

