@model ResetPWProfile
@{
    ViewData["Title"] = "تغییر پسورد ورود";
}


<partial name="_HeaderPartial" />
<div class="panel_style1">
    <div class="container">
        <div class="inner clearfix">
            <partial name="_HeaderProfile" />
            <div class="panel_content">
                <div class="title_style7">
                    <span class="title">تغییر کلمه عبور</span>
                </div>
                <div class="form_style2">
                    <form asp-controller="Profile" asp-action="ChangePassword" style="width:60%; margin:0 auto;" method="POST">
                        @{
                            if (ViewBag.OK != null)
                            {
                                string OK = ViewBag.OK.ToString();
                                if (OK == "OK")
                                {
                                   
                                    <div class="alarm_style2">
                                        <div class="success_alarm box">
                                            <div class="alarm_icon"><img src="~/assets/front/_images/icon/checked.png" alt=""></div>
                                            <div class="alarm_text">تغییر پسورد با موفقیت انجام شد</div>
                                            <div class="close_icon"><i class="i-cancel"></i></div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                   

                                    <div class="alarm_style2">
                                        <div class="success_alarm box">
                                            <div class="alarm_icon"><img src="~/assets/front/_images/icon/checked.png" alt=""></div>
                                            <div class="alarm_text">تغییر پسورد با موفقیت انجام نشد</div>
                                            <div class="close_icon"><i class="i-cancel"></i></div>
                                        </div>
                                    </div>
                                }

                            }
                        }

                        <ul class="step none_list_style clearfix">
                            <li class="item">
                                <div class="icon"><i class="i-mohre"></i></div>
                                <input asp-for="OldPassword"  placeholder="کلمه عبور فعلی" name="OldPassword" type="password">
                                <span class="focus_bg"></span>
                                <span class="important"><i class="i-star"></i></span>
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </li>
                            <li class="item">
                                <div class="icon"><i class="i-key"></i></div>
                                <input placeholder="کلمه عبور جدید" id="pass" name="NewPassword" asp-for="NewPassword" type="password">
                                <span class="focus_bg"></span>
                                <span class="important"><i class="i-star"></i></span>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </li>
                            <li class="item">
                                <div class="icon"><i class="i-key"></i></div>
                                <input placeholder="تکرار کلمه عبور جدید" asp-for="ConfirmPassword" name="ConfirmPassword" type="password">
                                <span class="focus_bg"></span>
                                <span class="important"><i class="i-star"></i></span>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </li>
                            <li class="item submit">
                                <button type="submit">ثبت تغییرات</button>
                            </li>
                        </ul>
                    </form>
                </div><!--close .form_style2-->
            </div><!--clsoe .panel_content-->
        </div><!--close .inner-->
    </div><!--close .container-->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" /> 
}


